.recievedMessageContainer {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.recievedMessageContentContainer {
  min-width: 1rem;
  max-width: 25rem;
  min-height: 1rem;
  background-color: var(--BGMiddleColor);
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.recievedMessageImageContainer {
  margin-right: 1rem;
}

.recievedMessageContentContainer p {
  color: var(--FontColorMain);
}
