.appConsoleNavbar {
  background-color: var(--BGNavbar);
  position: absolute;
  top: 0;
  width: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
.logoPlaceHolder {
  padding-top: 0.5rem;
  cursor: pointer;
}
.logoPlaceHolder_Image {
}
.navIconsStack {
  display: flex;
  flex-direction: column;
}
.activeNavItem {
  background-color: black;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  margin-bottom: 1rem;
  cursor: cursor;
}
.nonActiveNavItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.nonActiveNavItems:hover {
  background-color: var(--BTNColor);
  border-radius: 1rem;
}
.navChatIcon {
}
.navChatIcon svg {
  color: var(--FontMaincolor);
}
.navArchiveIcon {
}
.navArchiveIcon svg {
  color: var(--FontMaincolor);
}
.navSearchIcon {
}
.navSearchIcon svg {
  color: var(--FontMaincolor);
}
.navLastItems {
}
.navLastItems_Image {
}
