.SentMessageContainer {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sentMessageContentContainer {
  min-width: 10rem;
  max-width: 25rem;
  background-color: var(--FGPrimary);
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.sentMessageImageContainer {
  margin-left: 1rem;
}
