.userChatContainer {
  width: 100%;
  height: 100vh;
}
.chatHeader {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  padding-left: 1.5rem;
  margin-left: 2px;
  background-color: var(--BlockMainColor);
  border-bottom: 1px solid rgba(256, 256, 256, 0.2);
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userChatInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userContentContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.userContentContainer h3 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}
.userContentContainer p {
  opacity: 0.5;
  margin: 0;
  padding-top: 0.1rem;
  font-weight: 100;
  font-size: 12px;
}
/*Messages Stack*/
.userChatMessagesContainer {
  z-index: 0;
  overflow: scroll;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 75vh;
  width: 56rem;
  position: absolute;
  bottom: 0;
  padding-bottom: 6rem;
  /*magic*/
  display: flex;
  flex-direction: column-reverse;
}
.userChatMessagesContainer::-webkit-scrollbar {
  display: none;
}
.chatMessagesStack {
}

/*Messages Actions CSS*/
.userChatActionsContainer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 1.5rem;
  margin-left: 2px;
  background-color: var(--BlockMainColor);
  border-top: 1px solid rgba(256, 256, 256, 0.2);
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actionsContainer {
  width: 55rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.inputMessageField {
}
.inputMessageField input {
  height: 2.5rem;
  width: 45rem;
  border-radius: 0.5rem;
  background-color: var(--BGPrimary);
  border: 1px solid rgba(256, 256, 256, 0.2);
  color: white;
  padding-left: 1rem;
}
.sendMessageBtn {
  cursor: pointer;
}
