:root {
  --BGPrimary: #292929;
  --BGSecondry: #252525;
  --FontColorMain: white;
  --BlockMainColor: #1e1e1e;
  --FGPrimary: #ff9d43;
  --BTNColor: #1e1e1e;
  --BGMiddleColor: #464646;
  --IconsBGGradient: linear-gradient(270deg, #585757 0%, #6b6b6b 100%);
  --BGNavbar: #202020;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  font-family: "Gotham", sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-color: #888 var(--BlockMainColor);
  scrollbar-width: thin;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--BlockMainColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
