:root {
  --BGPrimary: #292929;
  --BGSecondry: #252525;
  --FontColorMain: white;
  --BlockMainColor: #1e1e1e;
  --FGPrimary: #ff9d43;
  --BTNColor: #1e1e1e;
  --BGMiddleColor: #464646;
  --IconsBGGradient: linear-gradient(270deg, #585757 0%, #6b6b6b 100%);
  --BGNavbar: #202020;
}
body {
  font-family: "Gotham", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--BGPrimary);
  color: white;
  height: 100%;
  overflow: hidden;
}
